!!! 5
html
    head
        link(rel='stylesheet', href='/stylesheets/pure-min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Crudzilla
    body
        #main
            #header
                h2 We CRUD Products
            #container
                block content
