extends ../layout

block append content
  h3 Editing #{product.name}
  form(action='/products/'+product._id, method='POST')
    input(type='hidden', name='_method', value='put')
    p
      label(for='product_name') Name:
      input(type='text', name='product[name]', id='product_name', value=product.name)

    p
      label(for='product_description') Description:
      input(type='text', name='product[description]', id='product_description', value=product.description)

    p
      label(for='product_price') Price:
      input(type='text', name='product[price]', id='product_price', value=product.price)

    p
      input(type='submit', value='Edit')
