extends ../layout

block append content
    form(action='/products/', method='POST', class='pure-form pure-form-aligned')
        fieldset
            legend New Product

        .pure-control-group
            label(for='product_name') Name:
            input(type='text', name='product[name]', id='product_name', value=product.name)

        .pure-control-group
            label(for='product_description') Description:
            input(type='text', name='product[description]', id='product_description', value=product.description)

        .pure-control-group
            label(for='product_price') Price:
            input(type='text', name='product[price]', id='product_price', value=product.price)

        .pure-control-group
            button(type='submit', class='pure-button pure-button-primary') Create product
